body{
    background-color: rgb(253, 255, 251) !important;
    overflow-x: hidden;
}
.main-color{
    background-image:url(../images/output.jpg);
    background-size: 95px;
    background-position: center;
    background-clip: text;
    color: transparent;
}

/* ----Login-Page--- */
.login-form{
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.35rem rgba(0, 0, 0, 0.274));
    border-top: 0;
   
}
.log-content{
    min-height: 90vh;
}
.log-bg{
    background-image:radial-gradient(white,white,#dbdbdb7e);
}
.navbar{
    z-index: 1040;
}

.btn-outline{
    border: 1px solid #49be02;
    border-radius: .4rem;
    color: rgb(0, 0, 0) !important;
    position: relative;
    overflow: hidden;
    
}
.btn-outline:hover{
    border: 1px solid #49be02;
    color: white !important;
}
.btn-outline1::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: #49be02;
    z-index: -1;
    transition: 0.8s;
    border-radius: 0 10px 10px 0 ;
}
.btn-outline1::after{
    content: '';
    position: absolute;
    right: 0px;
    width: 0%;
    height: 100%;
    background: #4abe028f;
    z-index: -1;
    transition: 0.8s;
    border-radius:  10px 0 0 10px ;
}
.btn-outline1::before ,.btn-outline1::after{
    top: 0;
}
.btn-outline1:hover::before{
    width: 180%;
}
.btn-outline1:hover::after{
    width: 180%;
}


/* Admin homepage */
.body-adminhomepage{
    height: 80vh;
    align-items: center !important  ;
}
.admin-nav{
    background-color: #eeffed;
}
.list-items{
    height: 27rem;
    overflow-y: scroll;
}
.list-desi{
    background-color: #86ff8f;
    
}
.list-desi:hover{
    background-color: #76df7d;
}
.content-heading-wrapper{
    z-index: 1040;
}
.price-tag{
    color: #ff6100;
}
.productname{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.bottom-space{
    box-shadow: 1px 1px 1px white !important;
}

/* User Home */
.image-show{
    height: 30vh;
}
.btn-outline2{
    border: 1px solid #00c5e0;
    border-radius: .4rem;
    color: rgb(0, 0, 0) !important;
    position: relative;
    overflow: hidden;
}
.btn-outline3{
    border: 1px solid #474747;
    border-radius: 2rem;
    color: rgb(0, 0, 0) !important;
    position: relative;
    overflow: hidden;
}

.btn-outline2:hover{
    border: 1px solid #00c5e0;
    color: white !important;
}
.btn-outline3:hover{
    border: 1px solid #474747;
    color: white !important;
}


.btn-outline2::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00c5e0;
    z-index: -1;
    transition: 0.8s;
    border-radius: 0 10px 10px 0 ;
}
.btn-outline3::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0%;
    height: 100%;
    background: #474747;
    z-index: -1;
    transition: 0.8s;
    border-radius: 0 30px 30px 0 ;
}
.btn-outline2::after{
    content: '';
    position: absolute;
    right: 0px;
    width: 0%;
    height: 100%;
    background: #00c6e06b;
    z-index: -1;
    transition: 0.8s;
    border-radius:  10px 0 0 10px ;
}
.btn-outline3::after{
    content: '';
    position: absolute;
    right: 0px;
    width: 0%;
    height: 100%;
    background: #4747476b;
    z-index: -1;
    transition: 0.8s;
    border-radius:  30px 0 0 30px ;
}
.btn-outline3::before , .btn-outline3::after , .btn-outline2::before ,.btn-outline2::after{
    top: 0;
}
.btn-outline2:hover::before , .btn-outline3:hover::before{
    width: 180%;
}
.btn-outline2:hover::after, .btn-outline3:hover::after{
    width: 180%;
}
